<?xml version="1.0"?>
<robot name="tutobot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="robot_namespace" default="tutobot"/>

    <!-- Include manipulator -->
    <xacro:include filename="$(find udg_ros_intro)/urdf/tutobot.macro.xacro"/>
    <xacro:arm_namespace prefix="$(arg robot_namespace)"/>

    <!-- Include gripper tool -->
    <xacro:include filename="$(find unal_gripper)/urdf/gripper.macro.xacro"/>
    <xacro:gripper_namespace prefix="$(arg robot_namespace)/gripper"/>

    <joint name="$(arg robot_namespace)/fixed_joint_left" type="fixed">
        <parent link="$(arg robot_namespace)/link5"/>
        <child link="$(arg robot_namespace)/gripper/gripper_body"/>
        <origin xyz="0.1 0.0 0.0" rpy="0.0 1.57 0.0"/>
    </joint>

</robot>